<h2>Retailer Dashboard</h2>

<div class="card p-3 mb-2">
    <h4>Total Products: @ViewBag.TotalProducts</h4>
    <h4>Pending: @ViewBag.PendingProducts</h4>
    <h4>Approved: @ViewBag.ApprovedProducts</h4>
</div>

<a class="btn btn-primary" asp-action="MyProducts">Go to My Products</a>