@model ShopSphere.DatabaseModels.Product

<h2>Delete Product</h2>

<div class="alert alert-danger">
    Are you sure you want to delete this product?
</div>

<p><b>@Model.ProductName</b></p>

<form asp-action="DeleteProduct" method="post">

    <input type="hidden" name="id" value="@Model.ProductId" />

    <button type="submit" class="btn btn-danger">Yes Delete</button>
    <a asp-action="Products" class="btn btn-secondary">Cancel</a>

</form>
